.button {
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--border-radius-medium);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in-out;
}

.primary {
  background-color: var(--primary-brand-color);
  color: white;
}

.primary:hover {
  opacity: 0.9;
}

.secondary {
  background-color: transparent;
  color: var(--primary-brand-color);
  border: 1px solid var(--primary-brand-color);
}

.secondary:hover {
  background-color: var(--primary-brand-color);
  color: white;
}
